<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_NPjBgBA-EeGQ0KsLDV4EFg" specification="&#xD;&#xA;interface:&#xD;&#xA;var lapTime:integer&#xD;&#xA;var timer:integer&#xD;&#xA;var display:integer&#xD;&#xA;in event left&#x9;&#x9;&#xD;&#xA;in event right&#xD;&#xA;&#x9;" name="Chronometer">
    <regions xmi:id="_NPjBgxA-EeGQ0KsLDV4EFg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_5Glt0E4SEeSulY-Gwg9bCg">
        <outgoingTransitions xmi:id="_5Gws-E4SEeSulY-Gwg9bCg" target="_5Gx7LU4SEeSulY-Gwg9bCg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5Gx7LU4SEeSulY-Gwg9bCg" specification="entry /timer =0; display = timer" name="Reset" incomingTransitions="_5GxUAE4SEeSulY-Gwg9bCg _5Gws-E4SEeSulY-Gwg9bCg">
        <outgoingTransitions xmi:id="_5GzwQE4SEeSulY-Gwg9bCg" specification="left" target="_5GsbgE4SEeSulY-Gwg9bCg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5GsbgE4SEeSulY-Gwg9bCg" specification="every 1s / timer = timer +1; display = timer" name="Running" incomingTransitions="_5GzwQE4SEeSulY-Gwg9bCg _5GrNZE4SEeSulY-Gwg9bCg">
        <outgoingTransitions xmi:id="_5Gu3wk4SEeSulY-Gwg9bCg" specification="right / lapTime = timer" target="_5GnjD04SEeSulY-Gwg9bCg"/>
        <outgoingTransitions xmi:id="_5Gtpok4SEeSulY-Gwg9bCg" specification="left" target="_5GmU4E4SEeSulY-Gwg9bCg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5GmU4E4SEeSulY-Gwg9bCg" specification="entry / display = timer" name="Stopped" incomingTransitions="_5GpYMk4SEeSulY-Gwg9bCg _5Gtpok4SEeSulY-Gwg9bCg">
        <outgoingTransitions xmi:id="_5GxUAE4SEeSulY-Gwg9bCg" specification="left" target="_5Gx7LU4SEeSulY-Gwg9bCg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5GnjD04SEeSulY-Gwg9bCg" specification="entry / display = lapTime&#xA;every 1s / timer = timer +1" name="Paused" incomingTransitions="_5Gu3wk4SEeSulY-Gwg9bCg">
        <outgoingTransitions xmi:id="_5GpYMk4SEeSulY-Gwg9bCg" specification="left" target="_5GmU4E4SEeSulY-Gwg9bCg"/>
        <outgoingTransitions xmi:id="_5GrNZE4SEeSulY-Gwg9bCg" specification="right " target="_5GsbgE4SEeSulY-Gwg9bCg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_NPjBgRA-EeGQ0KsLDV4EFg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_NPjBgBA-EeGQ0KsLDV4EFg" measurementUnit="Pixel">
    <children xmi:id="_NPjBhBA-EeGQ0KsLDV4EFg" type="Region" element="_NPjBgxA-EeGQ0KsLDV4EFg">
      <children xsi:type="notation:DecorationNode" xmi:id="_NPjBhxA-EeGQ0KsLDV4EFg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NPjBiBA-EeGQ0KsLDV4EFg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NPjBiRA-EeGQ0KsLDV4EFg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NPjBihA-EeGQ0KsLDV4EFg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_5iQ9ZU4SEeSulY-Gwg9bCg" type="Entry" element="_5Glt0E4SEeSulY-Gwg9bCg">
          <children xmi:id="_5iQ9Zk4SEeSulY-Gwg9bCg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_5iQ9Z04SEeSulY-Gwg9bCg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9aE4SEeSulY-Gwg9bCg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_5iQ9aU4SEeSulY-Gwg9bCg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9ak4SEeSulY-Gwg9bCg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9a04SEeSulY-Gwg9bCg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9bE4SEeSulY-Gwg9bCg" fontName="Verdana" lineColor="4210752"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9bU4SEeSulY-Gwg9bCg" x="158" y="104"/>
        </children>
        <children xmi:id="_5iQ9NU4SEeSulY-Gwg9bCg" type="State" element="_5Gx7LU4SEeSulY-Gwg9bCg">
          <children xsi:type="notation:DecorationNode" xmi:id="_5iQ9Nk4SEeSulY-Gwg9bCg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9N04SEeSulY-Gwg9bCg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5iQ9OE4SEeSulY-Gwg9bCg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iQ9OU4SEeSulY-Gwg9bCg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5iQ9Ok4SEeSulY-Gwg9bCg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9O04SEeSulY-Gwg9bCg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iQ9PE4SEeSulY-Gwg9bCg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9PU4SEeSulY-Gwg9bCg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5iQ9Pk4SEeSulY-Gwg9bCg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5iQ9P04SEeSulY-Gwg9bCg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9QE4SEeSulY-Gwg9bCg" x="217" y="94" width="234"/>
        </children>
        <children xmi:id="_5iQ9QU4SEeSulY-Gwg9bCg" type="State" element="_5GsbgE4SEeSulY-Gwg9bCg">
          <children xsi:type="notation:DecorationNode" xmi:id="_5iQ9Qk4SEeSulY-Gwg9bCg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9Q04SEeSulY-Gwg9bCg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5iQ9RE4SEeSulY-Gwg9bCg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iQ9RU4SEeSulY-Gwg9bCg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5iQ9Rk4SEeSulY-Gwg9bCg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9R04SEeSulY-Gwg9bCg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iQ9SE4SEeSulY-Gwg9bCg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9SU4SEeSulY-Gwg9bCg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5iQ9Sk4SEeSulY-Gwg9bCg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5iQ9S04SEeSulY-Gwg9bCg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9TE4SEeSulY-Gwg9bCg" x="496" y="94" width="230"/>
        </children>
        <children xmi:id="_5iQ9WU4SEeSulY-Gwg9bCg" type="State" element="_5GmU4E4SEeSulY-Gwg9bCg">
          <children xsi:type="notation:DecorationNode" xmi:id="_5iQ9Wk4SEeSulY-Gwg9bCg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9W04SEeSulY-Gwg9bCg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5iQ9XE4SEeSulY-Gwg9bCg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iQ9XU4SEeSulY-Gwg9bCg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5iQ9Xk4SEeSulY-Gwg9bCg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9X04SEeSulY-Gwg9bCg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iQ9YE4SEeSulY-Gwg9bCg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9YU4SEeSulY-Gwg9bCg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5iQ9Yk4SEeSulY-Gwg9bCg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5iQ9Y04SEeSulY-Gwg9bCg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9ZE4SEeSulY-Gwg9bCg" x="217" y="186" width="231"/>
        </children>
        <children xmi:id="_5iQ9TU4SEeSulY-Gwg9bCg" type="State" element="_5GnjD04SEeSulY-Gwg9bCg">
          <children xsi:type="notation:DecorationNode" xmi:id="_5iQ9Tk4SEeSulY-Gwg9bCg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9T04SEeSulY-Gwg9bCg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5iQ9UE4SEeSulY-Gwg9bCg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iQ9UU4SEeSulY-Gwg9bCg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5iQ9Uk4SEeSulY-Gwg9bCg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9U04SEeSulY-Gwg9bCg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5iQ9VE4SEeSulY-Gwg9bCg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5iQ9VU4SEeSulY-Gwg9bCg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5iQ9Vk4SEeSulY-Gwg9bCg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5iQ9V04SEeSulY-Gwg9bCg"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5iQ9WE4SEeSulY-Gwg9bCg" x="497" y="284" width="229"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NPjBixA-EeGQ0KsLDV4EFg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_NPjBhRA-EeGQ0KsLDV4EFg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NPjBjBA-EeGQ0KsLDV4EFg" x="-180" y="12" width="1261" height="1058"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_NPsyjxA-EeGQ0KsLDV4EFg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_NPsykRA-EeGQ0KsLDV4EFg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NPsykhA-EeGQ0KsLDV4EFg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NPsykxA-EeGQ0KsLDV4EFg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_NPsylBA-EeGQ0KsLDV4EFg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NPsylRA-EeGQ0KsLDV4EFg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NPsylhA-EeGQ0KsLDV4EFg" x="678" y="194" width="216" height="244"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_NPjBghA-EeGQ0KsLDV4EFg"/>
    <edges xmi:id="_5GzJME4SEeSulY-Gwg9bCg" type="Transition" element="_5GzwQE4SEeSulY-Gwg9bCg" source="_5iQ9NU4SEeSulY-Gwg9bCg" target="_5iQ9QU4SEeSulY-Gwg9bCg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5GzJNk4SEeSulY-Gwg9bCg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5GzJOE4SEeSulY-Gwg9bCg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5GzJN04SEeSulY-Gwg9bCg" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5GzJNU4SEeSulY-Gwg9bCg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5GzJNE4SEeSulY-Gwg9bCg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5GzJM04SEeSulY-Gwg9bCg" points="[81, -5, -309, 18]$[185, -11, -205, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5GzJMk4SEeSulY-Gwg9bCg" id="(0.9829059829059829,0.4716981132075471)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5GzJMU4SEeSulY-Gwg9bCg" id="(0.9138755980861244,0.4782608695652174)"/>
    </edges>
    <edges xmi:id="_5GuQsk4SEeSulY-Gwg9bCg" type="Transition" element="_5Gu3wk4SEeSulY-Gwg9bCg" source="_5iQ9QU4SEeSulY-Gwg9bCg" target="_5iQ9TU4SEeSulY-Gwg9bCg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5GuQuE4SEeSulY-Gwg9bCg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5Gu3wU4SEeSulY-Gwg9bCg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5Gu3wE4SEeSulY-Gwg9bCg" x="17" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5GuQt04SEeSulY-Gwg9bCg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5GuQtk4SEeSulY-Gwg9bCg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5GuQtU4SEeSulY-Gwg9bCg" points="[-1, -4, 0, 55]$[-8, -42, -7, 17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5GuQtE4SEeSulY-Gwg9bCg" id="(0.8,0.9433962264150944)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5GuQs04SEeSulY-Gwg9bCg" id="(0.8078602620087336,0.16666666666666666)"/>
    </edges>
    <edges xmi:id="_5GoxIE4SEeSulY-Gwg9bCg" type="Transition" element="_5GpYMk4SEeSulY-Gwg9bCg" source="_5iQ9TU4SEeSulY-Gwg9bCg" target="_5iQ9WU4SEeSulY-Gwg9bCg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5GoxJk4SEeSulY-Gwg9bCg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5GpYMU4SEeSulY-Gwg9bCg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5GpYME4SEeSulY-Gwg9bCg" x="5" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5GoxJU4SEeSulY-Gwg9bCg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5GoxJE4SEeSulY-Gwg9bCg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5GoxI04SEeSulY-Gwg9bCg" points="[0, 0, 59, 98]$[-54, -90, 5, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5GoxIk4SEeSulY-Gwg9bCg" id="(0.0,0.42592592592592593)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5GoxIU4SEeSulY-Gwg9bCg" id="(0.9783549783549783,0.43396226415094336)"/>
    </edges>
    <edges xmi:id="_5Gx7HE4SEeSulY-Gwg9bCg" type="Transition" element="_5GxUAE4SEeSulY-Gwg9bCg" source="_5iQ9WU4SEeSulY-Gwg9bCg" target="_5iQ9NU4SEeSulY-Gwg9bCg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5Gx7HU4SEeSulY-Gwg9bCg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5Gx7Hk4SEeSulY-Gwg9bCg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5Gx7H04SEeSulY-Gwg9bCg" x="3" y="-34"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5Gx7IE4SEeSulY-Gwg9bCg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5Gx7IU4SEeSulY-Gwg9bCg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5Gx7Ik4SEeSulY-Gwg9bCg" points="[5, -5, -120, 102]$[120, -107, -5, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5Gx7I04SEeSulY-Gwg9bCg" id="(0.46320346320346323,0.05434782608695652)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5Gx7JE4SEeSulY-Gwg9bCg" id="(0.47435897435897434,0.7924528301886792)"/>
    </edges>
    <edges xmi:id="_5Gx7JU4SEeSulY-Gwg9bCg" type="Transition" element="_5Gws-E4SEeSulY-Gwg9bCg" source="_5iQ9ZU4SEeSulY-Gwg9bCg" target="_5iQ9NU4SEeSulY-Gwg9bCg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5Gx7Jk4SEeSulY-Gwg9bCg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5Gx7K04SEeSulY-Gwg9bCg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5Gx7LE4SEeSulY-Gwg9bCg" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5Gx7J04SEeSulY-Gwg9bCg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5Gx7KE4SEeSulY-Gwg9bCg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5Gx7KU4SEeSulY-Gwg9bCg" points="[7, 0, -124, -1]$[127, 0, -4, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_obQVIFfMEeqMdLPzoLbFkw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5Gx7Kk4SEeSulY-Gwg9bCg" id="(0.01646090534979424,0.35036496350364965)"/>
    </edges>
    <edges xmi:id="_5GtCoE4SEeSulY-Gwg9bCg" type="Transition" element="_5Gtpok4SEeSulY-Gwg9bCg" source="_5iQ9QU4SEeSulY-Gwg9bCg" target="_5iQ9WU4SEeSulY-Gwg9bCg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5GtCpk4SEeSulY-Gwg9bCg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5GtpoU4SEeSulY-Gwg9bCg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5GtpoE4SEeSulY-Gwg9bCg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5GtCpU4SEeSulY-Gwg9bCg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5GtCpE4SEeSulY-Gwg9bCg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5GtCo04SEeSulY-Gwg9bCg" points="[-18, 10, 252, -120]$[-265, 116, 5, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5GtCok4SEeSulY-Gwg9bCg" id="(0.2608695652173913,0.846153846153846)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5GtCoU4SEeSulY-Gwg9bCg" id="(0.935064935064935,0.24615384615384617)"/>
    </edges>
    <edges xmi:id="_5Gr0fE4SEeSulY-Gwg9bCg" type="Transition" element="_5GrNZE4SEeSulY-Gwg9bCg" source="_5iQ9TU4SEeSulY-Gwg9bCg" target="_5iQ9QU4SEeSulY-Gwg9bCg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5Gr0fU4SEeSulY-Gwg9bCg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5Gr0fk4SEeSulY-Gwg9bCg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5Gr0f04SEeSulY-Gwg9bCg" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5Gr0gE4SEeSulY-Gwg9bCg" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5Gr0gU4SEeSulY-Gwg9bCg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5Gr0gk4SEeSulY-Gwg9bCg" points="[2, -1, 0, 153]$[2, -55, 0, 99]$[2, -145, 0, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5Gr0g04SEeSulY-Gwg9bCg" id="(0.34934497816593885,0.037037037037037035)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5Gr0hE4SEeSulY-Gwg9bCg" id="(0.3173913043478261,0.8301886792452831)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
